body{
  background-color: rgb(82, 82, 82);
  color: white;
  text-align: center;
  font-size: xx-large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
